################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BeeApp/BeeApp/src/app/app.component.js
