<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Inspection
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-item>
        <h1 *ngIf="edit == true">Edit Inspection</h1>
        <h2 *ngIf="edit == true">Please, edit the following information:</h2>
        <h1 *ngIf="edit == false">Add New Inspection</h1>
        <h2 *ngIf="edit == false">Please, enter the following information:</h2>
    </ion-item>

    <ion-list>
        <ion-item>
            <ion-label stacked color="primary">Inspection name</ion-label>              <!--Inspection_name-->
            <ion-input placeholder="Enter inspection name" [(ngModel)]="inspectionObject.name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked color="primary">Date</ion-label>
            <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" [(ngModel)]="inspectionObject.date"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label stacked color="primary">Bee temper</ion-label>                   <!--Bee_temper-->
            <ion-select [(ngModel)]="inspectionObject.temper" interface="action-sheet" placeholder="Select bee temper">
                <ion-option [value]="Aggressive">Aggressive</ion-option>
                <ion-option [value]="Calm">Calm</ion-option>
                <ion-option [value]="Nervous">Nervous</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label stacked color="primary">Bee strength</ion-label>                 <!--Bee_strength-->
            <ion-select [(ngModel)]="inspectionObject.strength" interface="action-sheet" placeholder="Select bee strength">
                <ion-option [value]="10">10%</ion-option>
                <ion-option [value]="30">30%</ion-option>
                <ion-option [value]="50">50%</ion-option>
                <ion-option [value]="70">70%</ion-option>
                <ion-option [value]="90">90%</ion-option>
                <ion-option [value]="100">100%</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <h1>Frames:</h1>
        </ion-item>
        <ion-item>
            <ion-label stacked color="primary">Frames with bees</ion-label>             <!--Frames_bees-->
            <ion-input type="number" min="0" max="16" placeholder="Enter number" [(ngModel)]="inspectionObject.framesBees"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked color="primary">Frames with honey in body</ion-label>    <!--Frames_honey-->
            <ion-input type="number" min="0" max="16" placeholder="Enter number" [(ngModel)]="inspectionObject.framesHoney"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked color="primary">Frames with honey in supers</ion-label>  <!--Frames_honey_supers-->
            <ion-input type="number" min="0" max="16" placeholder="Enter number" [(ngModel)]="inspectionObject.framesHoneySupers"></ion-input>
        </ion-item>
        <ion-item>
            <h1>Drones:</h1>
        </ion-item>
        <ion-item>
            <ion-label stacked color="primary">Drones</ion-label>                       <!--Drones-->
            <ion-select [(ngModel)]="inspectionObject.drones" interface="action-sheet" placeholder="Drones">
                <ion-option [value]="false">No</ion-option>
                <ion-option [value]="true">Yes</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label stacked color="primary">Drone cells</ion-label>                  <!--Drone_cells-->
            <ion-select [(ngModel)]="inspectionObject.droneCells" interface="action-sheet" placeholder="Drone cells">
                <ion-option [value]="false">No</ion-option>
                <ion-option [value]="true">Yes</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <h1>Diseases:</h1>
        </ion-item>
        <ion-item>
            <ion-label stacked color="primary">Disease</ion-label>
            <ion-select [(ngModel)]="inspectionObject.disease" interface="action-sheet" placeholder="Select disease type">
                <ion-option [value]="Nodisease">No disease</ion-option>
                <ion-option [value]="Acarine">Acarine</ion-option>
                <ion-option [value]="Foulbrood">Foul brood</ion-option>
                <ion-option [value]="Nosema">Nosema</ion-option>
                <ion-option [value]="Varoosis">Varoosis</ion-option>
            </ion-select>
        </ion-item>

        <ion-row padding>
            <ion-col width-33>
                <ion-buttons start>
                    <button ion-button outline (click)="goBack()">Cancel</button>
                </ion-buttons>
            </ion-col>
            <ion-col width-67 *ngIf="edit == false">
                <ion-buttons end>
                    <button ion-button block (click)="createInspection()">Save</button>
                </ion-buttons>
            </ion-col>
            <ion-col width-67 *ngIf="edit == true">
                <ion-buttons end>
                    <button ion-button block (click)="editInspection()">Save</button>
                </ion-buttons>
            </ion-col>
        </ion-row>
    </ion-list>

</ion-content>
