<ion-header>

    <ion-navbar color="primary">
        <button ion-button menuToggle icon-only>
            <ion-icon name='ios-menu-outline'></ion-icon>
        </button>
        <ion-title>Hive inner</ion-title>
        <ion-buttons end>
            <button ion-button icon-only>
                <ion-icon name="ios-more-outline"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

    <ion-toolbar>
        <ion-segment [(ngModel)]="hiveTabs" (ionChange)="selectedTabChanged(hiveTabs)">
            <ion-segment-button value="info">
                Hive Info
            </ion-segment-button>
            <ion-segment-button value="inspections">
                Inspections
            </ion-segment-button>
            <ion-segment-button value="stats">
                Statistics
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

</ion-header>


<ion-content>

    <div [ngSwitch]="hiveTabs">
        <ion-list *ngSwitchCase="'info'">
            <div *ngIf="hive">

                <ion-row style="height: 1rem"></ion-row>

                <ion-item no-lines>
                    <h1></h1>
                </ion-item>

                <ion-item no-lines>
                    <ion-avatar item-left>
                        <img src="./assets/img/hive-img.jpg">
                    </ion-avatar>
                    <h2>{{ hive?.name }}</h2>                            <!--Avilio pavadinimas Hive_name-->
                    <p *ngFor="let inspection of (hive?.inspections | slice: -1)">Last inspection: {{ inspection.date | date: 'yyyy-MM-dd' }}</p>          <!--Paskutinës (naujausios) darytos apþiûros data Inspection_date-->
                </ion-item>

                <ion-row>
                    <ion-col *ngIf="hive?.inspections.length > 0">
                        <button ion-button icon-left clear small>
                            <ion-icon name="ios-pulse"></ion-icon>
                            <div *ngFor="let inspection of (hive?.inspections | slice: -1)">{{ inspection.strength }} strength</div>              <!--Naujausias áraðas Bee_strength-->
                        </button>
                    </ion-col>
                    <ion-col *ngIf="hive?.monitoring.length > 0">
                        <button ion-button icon-left clear small>
                            <ion-icon name="ios-thermometer"></ion-icon>
                            <div *ngFor="let monitoring of (hive?.monitoring | slice: -1)">{{ monitoring.temperature }}&deg;C TEMP</div>            <!--Naujausias áraðas Monitoring_temperature-->
                        </button>
                    </ion-col>
                    <ion-col *ngIf="hive?.monitoring.length > 0">
                        <button ion-button icon-left clear small>
                            <ion-icon name="ios-water"></ion-icon>
                            <div *ngFor="let monitoring of (hive?.monitoring | slice: -1)">{{ monitoring.humidity }}%</div>                      <!--Naujausias áraðas Monitoring_humidity-->
                        </button>
                    </ion-col>
                </ion-row>

                <ion-item>
                    <p>Status</p>
                    <h2>{{ hive?.status ? 'Active':'Inactive'}}</h2>
                    <!--Avilio statusas Hive_status
                    1 => "Hive active"
                    0 => "Hive inactive"-->
                </ion-item>
                <ion-item>
                    <p>Hive type</p>
                    <h2>{{ hive?.type }}</h2>                         <!--Avilio tipas Hive_type-->
                </ion-item>
                <ion-item>
                    <p>Bee Family</p>
                    <h2>{{ hive?.family }}</h2>                           <!--Bièiø ðeimos veislë Hive_family-->
                </ion-item>

                <div *ngIf="hive?.queen">

                    <ion-item no-lines>
                        <h1>Queen status</h1>
                    </ion-item>

                    <ion-item>
                        <p>Name</p>
                        <h2>{{ hive?.queen.name }}</h2>                           <!--Motinëlës pavadinimas Queen_name-->
                    </ion-item>
                    <ion-item>
                        <p>Breed</p>
                        <h2>{{ hive?.queen.breed }}</h2>                            <!--Motinëlës veislë Queen_breed-->
                    </ion-item>
                    <ion-item>
                        <p>Date</p>
                        <h2>{{ hive?.queen.date | date: 'yyyy-MM-dd' }}</h2>                         <!--Motinëlës talpinimo á avilá data Queen_date-->
                    </ion-item>
                    <ion-item>
                        <p>State</p>
                        <h2>{{ hive?.queen.state }}</h2>                            <!--Queen_state-->
                    </ion-item>
                    <ion-item>
                        <p>Status</p>
                        <h2>{{ hive?.queen.status }}</h2>                           <!--Queen_status-->
                    </ion-item>
                    <ion-item>
                        <p>Color</p>
                        <h2>{{ hive?.queen.colour }}</h2>                               <!--Spalva pagal kurià sprendþiam amþiø Queen_colour-->
                    </ion-item>

                </div>

                <ion-item no-lines>
                    <h1>Queen status</h1>
                </ion-item>

                <ion-item>
                    <p>Name</p>
                    <h2>Bakfast</h2>                           <!--Motinëlës pavadinimas Queen_name-->
                </ion-item>
                <ion-item>
                    <p>Breed</p>
                    <h2>Carnica</h2>                            <!--Motinëlës veislë Queen_breed-->
                </ion-item>
                <ion-item>
                    <p>Date</p>
                    <h2>2018-05-26</h2>                         <!--Motinëlës talpinimo á avilá data Queen_date-->
                </ion-item>
                <ion-item>
                    <p>State</p>
                    <h2>Emerged</h2>                            <!--Queen_state-->
                </ion-item>
                <ion-item>
                    <p>Status</p>
                    <h2>Accepted</h2>                           <!--Queen_status-->
                </ion-item>
                <ion-item>
                    <p>Color</p>
                    <h2>Blue</h2>                               <!--Spalva pagal kurià sprendþiam amþiø Queen_colour-->
                </ion-item>
            </div>

            <ion-fab right bottom style="z-index:100;position:fixed;right:20px;bottom:65px;">
                <button ion-fab color="warning" (click)="editHivePage()" style="bottom: 10px;"><ion-icon name="ios-create-outline"></ion-icon></button>
                <button ion-fab color="danger" (click)="deleteHive()"><ion-icon name="ios-remove-circle-outline"></ion-icon></button>
            </ion-fab>

        </ion-list>

        <ion-list *ngSwitchCase="'inspections'">

            <div *ngIf="hive.inspections?.length == 0">
                <ion-card padding>
                    There are no inspections created.
                </ion-card>
            </div>

            <div *ngIf="hive.inspections?.length">
                <ion-card (click)="openInspectInnerPage(inspection.id)" *ngFor="let inspection of hive.inspections">
                    <ion-item>
                        <ion-avatar item-left>
                            <img src="./assets/img/glass.jpg">
                        </ion-avatar>
                        <h2>{{ inspection.name }}</h2>                  <!--Inspection_name-->
                        <p>{{ inspection.temper }}</p>                      <!--Bee_temper-->
                    </ion-item>
                    <ion-card-content>
                        <p>{{ inspection.disease }}</p>                      <!--Disease-->
                    </ion-card-content>
                    <ion-row>
                        <ion-col>
                            <button ion-button icon-left clear small>
                                <ion-icon name="ios-pulse"></ion-icon>
                                <div>{{ inspection.strength }} strength</div>         <!--Bee_strength-->
                            </button>
                        </ion-col>
                        <ion-col center text-center>
                            <ion-note>
                                Inspection date: {{ inspection.date | date: 'yyyy-MM-dd' }}
                            </ion-note>
                        </ion-col>

                    </ion-row>
                </ion-card>
            </div>

            <ion-fab right bottom style="z-index:100;position:fixed;right:20px;bottom:65px;">
                <button ion-fab color="primary" (click)="openInspectCreatePage()"><ion-icon name="ios-add-circle-outline"></ion-icon></button>
            </ion-fab>

        </ion-list>

        <ion-list *ngSwitchCase="'stats'">
            <ion-card>
                <ion-item no-lines>
                    <h1>Temperature</h1>
                </ion-item>
                <ion-card-content>
                    <!--<img src="./assets/img/Chart-JS.png">-->
                    <canvas baseChart
                            [chartType]="'line'"
                            [datasets]="temperatureChartData"
                            [labels]="temperatureChartLabels"
                            [options]="chartOptions"
                            [legend]="false"></canvas>
                </ion-card-content>
            </ion-card>

            <ion-card>
                <ion-item no-lines>
                    <h1>Humidity</h1>
                </ion-item>
                <!--<img src="./assets/img/Chart-JS.png">-->
                <canvas baseChart
                        [chartType]="'line'"
                        [datasets]="humidityChartData"
                        [labels]="humidityChartLabels"
                        [options]="chartOptions"
                        [legend]="false"></canvas>
            </ion-card>

            <ion-card>
                <ion-item no-lines>
                    <h1>Strength</h1>
                </ion-item>
                <!--<img src="./assets/img/Chart-JS.png">-->
                <canvas baseChart
                        [chartType]="'line'"
                        [datasets]="strenghtChartData"
                        [labels]="strenghtChartLabels"
                        [options]="chartOptions"
                        [legend]="false"></canvas>
            </ion-card>

        </ion-list>
    </div>

</ion-content>